.more-button {
  margin: 50px auto 80px;
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  justify-content: center;
  transition: opacity linear 0.5s;
}

.more-button:hover {
  opacity: 0.7;
  transition: opacity linear 0.5s;
}

@media screen and (max-width: 450px) {
  .more-button {
    width: 240px;
  }
}