.movies-card__delete-button {
  padding: 0;
  border: none;
  background-color: #313131;
  background-image: url(../../images/remove-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  cursor: pointer;
  transition: opacity linear 0.5s;
}

.movies-card__delete-button:hover {
  opacity: 0.8;
  transition: opacity linear 0.5s;
}